#total{
    width: 40%; 
    padding: 15px;
    border: 2px solid rgb(199, 196, 196); 
    border-radius: 6px; height: fit-content; 
    position :sticky; 
    top:120px;
}

.cart-box-container{
    display: grid;
    flex: 1 1 40rem;
    gap: 10px;
    flex-wrap: wrap;
}
.box{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

@media screen and (max-width:500px) {
    .box{
        display: block;
    }
    
}