.contact-inner-div{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
    flex-wrap: wrap;
}
.phone, .email, .office{
    width: 200px;
    height: 200px;
    padding:2%;
    margin: 1%;
    border: 2px solid gray;
}


.contact-form,.contact-inner-div{
    border-radius: 0px;
    border: 10px solid red;
}