.dashboard-menu{
    position: fixed;
    top: 25%;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    line-height: 1.5;
	background-color:grey;
    width: 20%;
    box-sizing: border-box;
    color: white;
    padding-top:1%;
    padding-bottom:3%;
}
.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.closebtn{
    margin-left: 75%;
    margin-bottom: 2%;
    font-size: x-large;
}
.openbtn:hover{
    background-color: #444;
}
.closebtn:hover{
   color:red;

}
.dashboard-option{
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    height: 40px;
    padding-left: 17%;
    padding-top: 5%;
    padding-bottom: 16%;
}
.dashboard-option:hover{
    background-color: #444;
}
.dashboard-option:active{
    background-color: lightgrey;
}
.dashboard-div-main{
    margin: 70px 1% 1% 25%;
}
.dashboard-table{
    border: 2px solid black;
    margin: 1%;
}
.dashboard-table th{
    outline: inset;
    
    margin: 0px;
}
.dashboard-table tbody tr:nth-child(even){
    background-color: rgb(250, 233, 239);
}
.dashboard-table tbody tr:nth-child(odd){
    background-color: rgb(240, 240, 240);
}
.dashboard-table th,td{
    padding: 10px;
}
.singup-div{
    border: 2px solid red;
    background-color: blanchedalmond;
}
.singup-div form{
    text-align: center;

}
.singup-div table{
    width: 100%;
}
.menu-position{
    position: fixed;
    top: 35%;
    background-color:#111;
    height: max-content;
}
.menu-position div{
    color: #818181;
}
.menu-position div:hover{
    color: #f1f1f1;
}
